<div>
  Total Students: <%= @total_students %>
</div>
<div>
  Total Courses: <%= @total_courses %>
</div>
<% if (@last_enroolment) %>
  <div>
    Last Enrollment:<br />
    Student: <%= @last_enroolment.student.name %><br />
    Course: <%= @last_enroolment.course.name %>
  </div>
<% end %>
