<!DOCTYPE html>
<html>
<head>
  <title>ProficiencyTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <head>
    <h1>School App</h1>
  </head>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
    2016
  </footer>
</body>
</html>
